/*Base*/
html,
body {
  height: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  color: white;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
  line-height: 2;
}

p {
  font-size: .85em;
  line-height: 1.5;
}

/*Layout*/
.parent-flex {
  display: flex;
  height: 100%;
}

.flex-grid,
.flex-grid-profile {
  flex: 1 1 50%;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid-profile {
  background: url(../images/trump-portrait.jpg) no-repeat;
  background-size: cover;
}

/*Components*/
.box.header-box {
  flex-basis: 59.5%
}

.box.header-box {
  align-items: flex-start;
  padding: 0 30px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 33.3333%;
}

.btn-container {
  margin-top: 20px;
}

.btn-resume {
  background: url(../images/resume.png) no-repeat 5px 50%;
  background-size: 20px;
}

.btn-donate {
  background: url(../images/donate.png) no-repeat 5px 50%;
  background-size: 20px;
}

button {
  min-width: 100px;
  min-height: 40px;
  background: transparent;
  border: 1px solid;
  color: white;
  text-transform: uppercase;
}

button:first-child {
  margin-right: 10px;
}

.icon {
  max-width: 100px;
}

.avatar {
  display: none;
}

.social,
.portfolio {
  background-color: #9681b6;
}

.contact,
.experience {
  background-color: #6cc4b9;
}

.education {
  background-color: #ed4c57;
}

.profile {
  background-color: #f6aa3d;
}

.header-box,
.footer-box {
  background-color: #94bb41;
}


@media screen and (max-width: 1140px) {
  .flex-grid-profile {
    background-position-x: 60%;
  }
}

@media screen and (max-width: 740px) {
  .flex-grid-profile {
    display: none;
  }
  .avatar {
    display: inline-block;
    max-width: 100px;
  }

}
