/*Main content*/

body {
  font-family: 'Open sans', sans-serif;
}

h1, p {
  color:white;
}

h1 {
  padding-left: 5%;
  padding-bottom: 4%;
  font-size: 1.5em;
}

p {
  font-size: .85em;
}

/*Layout*/

.parent-flex {
  display: flex;
  padding: 20px;
  background-color: lightgray;
}

.flex-grid {
  display:flex;
  flex:.6;
  flex-wrap: wrap-reverse;
}

.flex-grid-profile {
  flex: .4;
  height: 100vh;
  background-image: url("../images/trump-portrait.jpg");
  background-size: cover;
}

/*Grid boxes*/

.box {
  flex: auto;
  width: 25%;
  padding-top: 10%;
  border: 1px solid;
  text-align: center;
}

.quotes {
  padding: 10px 0px 0px 25px;
}

.buttons {
  padding:20px 0px 0px 25px;
  background: transparent;
  border:black;
  box-shadow:none;
  font-size: 1em;
  color:white;
}

.links {
  height:20px;
}

.icon {
  width: 30%;
}

.social {
  background-color: #9681b6;
}

.contact {
  background-color: #6cc4b9;
}

.portfolio {
  background-color: #9681b6;
}

.experience {
  background-color: #6cc4b9;
}

.education {
  background-color: #ed4c57;
}

.blog {
  background-color: #94bb41;
}

.main {
  flex-grow: 5;
  padding-top: 7%;
  background-color: #94bb41;
  text-align: left;
}

.profile {
  background-color: #f6aa3d;
}


/*Mobile responsive*/

@media screen and (max-width: 750px){

  body {
   height:100vh;
   width:100%;
 }

  .parent-flex {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
  }

  .flex-grid-profile {
    display:none
  }

  .flex-grid {
    display:flex;
    flex:1;
    flex-wrap: wrap-reverse;
  }

  .box {
    flex: auto;
    width: 45%;
    justify-content: auto;
    padding-bottom: 5%;
    align-items: center;
  }

  .quotes {
    text-indent: -9999px;;
  }
